.DS_Store
.huskyrc.json
out
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.eggs
.vscode/
test/unigui
__pycache__
**/.mypy_cache/**
coverage/
.vscode-test/**
.vscode test/**
.vscode-smoke/**
**/.venv*/
pythonFiles/experimental/ptvsd/**
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results.xml
build/
dist/
unigui.egg-info/
upload.sh
